body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1004ba 10%, #a501d2 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.search-container {
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

#search-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #bd05ba;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn:hover {
    background-color: #0606ce;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.weather-info p {
    font-size: 1.2rem;
    margin: 5px 0;
}